@import "../../../../styles/styles.scss";
@import "../../../../styles/_variables.scss";
.topic-card {
    background-color: #F5F5F5;
    border-radius: $border-radius;
    padding: 15px;
    h2 {
        margin-top: 0;
        font-size: 16px;
        font-weight: 700;
      }

    p {
      margin: 0 0 16px 0;
    }
  
    button {
        display: block;
        margin: auto;
        height: 40px;
        font-size: 16px;
        width: 153px;
    }
  }
  