@import "../../../../styles/styles.scss";
@import "../../../../styles/_variables.scss";
.topic-card {
    background-color: #F5F5F5;
    border-radius: $border-radius-small;
    padding: 15px;
    h2 {
        margin-top: 0;
        font-size: $font-size-small-mid;
        font-weight: $font-weight-bold;
        line-height: $line-height-small-mid;
      }

    p {
      margin: 0 0 16px 0;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      font-weight: $font-weight-normal;
      font-size: $font-size-small;
      line-height: $line-height-small;
    }
  
    button {
        display: block;
        margin: auto;
        height: 40px;
        font-size: $font-size-small-mid;
        width: 153px;
    }
  }


  