<div class="posts-container">
    <div class="header-post">
        <button  class="create-article-button" (click)="onClickCreatePost()">
            Créer un article
        </button>
      
        <div *ngIf="(posts$ | async)?.length" class="sort-section" (click)="toggleSortOrder()">
          <span>Trier par</span>
          <mat-icon>{{ isAscending ? 'arrow_upward' : 'arrow_downward' }}</mat-icon>
        </div>
    </div>
    
    <div *ngIf="(posts$ | async)?.length; else noPosts" class="posts-grid">
      <div *ngFor="let post of (posts$ |async) " class="post-card" (click)="viewPost(post.id)">
        <h2>{{ post.title }}</h2>
        <div class="post-meta">
          <span>{{ post.createdAt | date:'shortDate' }}</span>
          <span>{{ post.author }}</span>
        </div>
        <p>{{ post.content }}</p>
      </div>
    </div>
     <ng-template #noPosts>
      <div class="no-posts">
        Aucuns articles disponibles
      </div>
    </ng-template>
  </div>
  