@import "../../../../styles/variables";
@import "../../../../styles/styles.scss";
.posts-container {
    margin: 0 auto;
    padding: 3rem 6rem;
    .header-post{
      text-align: center;
      display: flex;
      justify-content: space-between;
        .action-button {
            margin-bottom: 20px;
            height: 40px;
            font-size: $font-size-small-mid;
            width: 153px;
          }
        
          .sort-section {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
            cursor: pointer;
            font-weight: $font-weight-bold;
            font-size: $font-size-small-mid;
            line-height: $line-height-small-mid;
            span {
              margin-right: 5px;
            }
          }
        
    }
  
    .posts-grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px 70px;

      .post-card {
        background-color: #F5F5F5;
        border-radius: $border-radius-small;
        padding: 15px;
        &:hover {
          cursor: pointer;
        }
        h2 {
          margin-top: 0;
          font-size: $font-size-small-mid;
          font-weight: $font-weight-bold;
          line-height: $line-height-small-mid;
        }
  
        .post-meta {
          display: flex;
          justify-content: space-between;
          font-size: $font-size-small;
          font-weight: $font-weight-normal;
          line-height: $line-height-small;
          width: 40%;
          margin-bottom: 10px;
        }
  
        p {
          margin: 0;
          line-height: $line-height-small;
          font-size: $font-size-small;
          font-weight: $font-weight-normal;
          color: #333;
          display: -webkit-box;
          -webkit-line-clamp: 5;
          -webkit-box-orient: vertical;
          overflow: hidden;
        }
      }
    }
  }
  @media (max-width: 768px) {
    .posts-container {
      padding: 1.5rem;

      .header-post {
        margin-top: 8px;
        align-items: center;
        display: flex;
        flex-direction: column;

        .action-button {
          width: auto;
          width: 175px;
          margin: 0;
        }
    
        .sort-section {
          display: flex;
          align-items: center;
          margin: 8px;
          padding:8px;
          span {
            margin-right: 3px;
          }
        }
      }
      .posts-grid {
        grid-template-columns: 1fr!important;
        .post-card {
          padding: 10px;
      
          h2 {
            font-size: $font-size-small;
          }
      
          .post-meta {
            width: 65%;
            font-size: $font-size-extra-small;
            line-height: 15px;
          }
      
          p {
            font-size: $font-size-extra-small;
          }
        }
      }
      
    }
}
  