<div class="login-container">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div>
        <label for="usernameOrEmail">Email or Username</label>
        <input id="usernameOrEmail" formControlName="usernameOrEmail" type="text" />
    </div>
  
      <div>
        <label for="password">Password</label>
        <input id="password" formControlName="password" type="password" />
      </div>
  
      <button type="submit">Login</button>
  
      <div *ngIf="errorMessage" class="error">
        {{ errorMessage }}
      </div>
    </form>
  </div>
  