.back-button {
    position: absolute;
    top: 140px;
    left: 20px;

    button {
      background: none;
      border: none;
      cursor: pointer;
    }

    .mat-icon {
      font-size: 39px;
      width: 39px;
    }
  }