.header {
    padding: 0rem 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 94px;
    .right-header{
      display: flex;
      align-items: center;
      gap: 40px;
    }
    .logo-container {
      display: flex;
      align-items: center;
  
      .logo {
        // padding: 0px 24px;
        height: 81px;
        width: 140px;
      }
    }
  .nav-links {
    display: flex;
    gap: 40px;
    align-items: center;

    a {
      font-size: 20px;
      font-weight: 400;
      color: #000000;
      text-decoration: none;
      line-height: 24.2px;;
      &.active {
        color: #6C5CCF
      }
    }
  }
    .profile-button {
      cursor: pointer;
      outline: none;
      border: none;
      overflow: visible;
      &.active {
        color: #6C5CCF;
      }
      &:focus {
        outline: none;
        border: none;
      }
    }
  }
  