<div class="header">
    <div class="logo-container">
      <img src="assets/logo_p6.png" alt="MDD Logo" class="logo">
    </div>
    <ng-container *ngIf="isAuthPage">
      <div class="right-header">
        <nav class="nav-links">
          <a routerLink="/posts" routerLinkActive="active">Articles</a>
          <a routerLink="/topics" routerLinkActive="active">Thèmes</a>
        </nav>
        <div class="profile-menu">
          <button mat-icon-button class="profile-button" routerLink="/profile">
            <mat-icon class="profile-icon">account_circle</mat-icon> 
          </button>
        </div>
      </div>
    </ng-container>
  </div>
  