.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 94px;
    .logo-container {
      display: flex;
      align-items: center;
  
      .logo {
        padding: 0px 24px;
        height: 81px;
        width: 140px;
      }
    }
  }
  