<div class="login-container">
    <app-back-button></app-back-button>
    <div class="login-header">
      <h2>Se connecter</h2>
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="usernameOrEmail">E-mail ou nom d'utilisateur(login)</label>
        <input id="usernameOrEmail" formControlName="usernameOrEmail" type="text" />
        <div *ngIf=" formControls['usernameOrEmail'].errors" class="error">
          <div *ngIf="formControls['usernameOrEmail'].errors['required']">Ce champ est requis</div>
        </div>
      </div>
  
      <div class="form-group">
        <label for="password">Mot de passe</label>
        <input id="password" formControlName="password" type="password" />
        <div *ngIf=" formControls['password'].errors" class="error">
          <div *ngIf="formControls['password'].errors['required']">Ce champ est requis</div>
          <div *ngIf="formControls['password'].errors['minlength']">Le mot de passe doit contenir au moins 8 caractères</div>
        </div>
      </div>
  
      <div class="button-container">
        <button type="submit" class="btn action-button" [disabled]="!loginForm.valid">Se connecter</button>
      </div>
  
      <div *ngIf="errorMessage" class="error">
        {{ errorMessage }}
      </div>
    </form>
  </div>
  