<div class="post-detail-container">
    <div class="post-content">
      <h1>{{ post?.title }}</h1>
      <div class="post-meta">
        <span>Date: {{ post?.createdAt | date:'shortDate' }}</span>
        <span>Auteur: {{ post?.author }}</span>
      </div>
      <p>{{ post?.content }}</p>
    </div>
    <hr />
    <div class="comments-section">
      <h2>Commentaires</h2>
        <div *ngIf="comments.length === 0" class="no-comments">
            <p>Aucun commentaire pour le moment</p>
        </div>
        <div *ngIf="comments.length > 0">
            <div *ngFor="let comment of comments" class="comment">
                <div class="comment-meta">
                  <span>{{ comment.userId }}</span>
                </div>
                <p>{{ comment?.content }}</p>
              </div>
        </div>
    </div>
  
    <div class="add-comment">
        <mat-form-field class="comment-input">
            <textarea  placeholder="Écrivez ici votre commentaire"></textarea>
        </mat-form-field>
        <button mat-icon-button (click)="addComment()">
            <mat-icon>send</mat-icon>
        </button>
    </div>
  </div>
  