<app-back-button></app-back-button>

<div class="post-detail-container">
    <div class="post-content">
      <h2>{{ post?.title }}</h2>
      <div class="post-meta">
        <span> {{ post?.createdAt | date:'shortDate' }}</span>
        <span> {{ post?.author }}</span>
        <span> {{ post?.topicName }}</span>

      </div>
      <p>{{ post?.content }}</p>
    </div>
    <hr />
    <div class="comments-section">
      <h3>Commentaires</h3>
      <div *ngIf="post?.comments?.length === 0" class="no-comments">
        <p>Aucun commentaire pour le moment</p>
        </div>
        <div *ngIf="post?.comments?.length > 0">
          <div *ngFor="let comment of post.comments" class="comment">
            <span>{{ comment.username }}</span>
            <div class="comment-meta">
                <p>{{ comment?.content }}</p>
                </div>
              </div>
        </div>
    </div>
  
    <div class="add-comment">
        <mat-form-field class="comment-input">
            <textarea  placeholder="Écrivez ici votre commentaire"></textarea>
        </mat-form-field>
        <button mat-icon-button (click)="addComment()">
            <mat-icon>send</mat-icon>
        </button>
    </div>
  </div>
  