<div class="register-container">
    <div class="back-button">
      <button mat-icon-button (click)="goBack()">
        <mat-icon class="back-icon">arrow_back</mat-icon>
      </button>
    </div>
    <div class="register-header">
      <h2>Inscription</h2>
    </div>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="username">Nom d'utilisateur</label>
        <input id="username" formControlName="username" type="text" />
        <div *ngIf="submitted && formControls['username'].errors" class="error">
          <div *ngIf="formControls['username'].errors['required']">Ce champ est requis</div>
        </div>
      </div>
  
      <div class="form-group">
        <label for="email">Adresse e-mail</label>
        <input id="email" formControlName="email" type="email" />
        <div *ngIf="submitted && formControls['email'].errors" class="error">
          <div *ngIf="formControls['email'].errors['required']">Ce champ est requis</div>
        </div>
      </div>
  
      <div class="form-group">
        <label for="password">Mot de passe</label>
        <input id="password" formControlName="password" type="password" />
        <div *ngIf="submitted && formControls['password'].errors" class="error">
          <div *ngIf="formControls['password'].errors['required']">Ce champ est requis</div>
          <div *ngIf="formControls['password'].errors['minlength']">Le mot de passe doit contenir au moins 8 caractères</div>
        </div>
      </div>
  
      <div class="button-container">
        <button mat-raised-button color="primary" type="submit">S'inscrire</button>
      </div>
  
      <div *ngIf="errorMessage" class="error">
        {{ errorMessage }}
      </div>
    </form>
  </div>
  