/* You can add global styles to this file, and also import other style files */
@import "./_variables.scss";
html, body { height: 100%; }
body {
    font-family: 'Inter', sans-serif  !important;
    margin: 0;
    padding: 0;
}
h2, span, p, a{
    font-family: 'Inter', sans-serif  !important;
}

.back-button {
    position: absolute;
    top: 140px;
    left: 20px;

    button {
      background: none;
      border: none;
      cursor: pointer;
    }

    .mat-icon {
      font-size: 39px;
      width: 39px;
    }
  }