/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

$primary-color: #7763C5;
$border-radius: 8px;
$input-height: 50px;
$input-width: 250px;
$btn-width: 139px;
$padding: 0.5rem;