
@import "../../../../styles/_variables.scss";
.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  
    .logo-container {
      margin-bottom: 4rem;
  
      .logo {
        width: 412px;
        height:238px;
      }
    }
  
    .button-group {
      display: flex;
      gap: 8rem;
  
      .btn {
        padding: 0.75rem 1.5rem;
        border: 1px solid black;
        background-color: white;
        border-radius: $border-radius-small;
        cursor: pointer;
        font-size: $font-size-small-mid;
        font-weight: 600;
      }
    }
  }
  
  /* Responsive design */
  @media (max-width: 768px) {
    .home-container {
        .logo-container {

            .logo {
                width: 225px;
                height:130px;
            }
        }
      .button-group {
        margin-top: 24px;
        flex-direction: column;
        gap: 3rem;

        .btn {
          width: 100%;
          margin-bottom: 0.5rem;
        }
      }
    }
  }
  